#control-panel{
	padding-right: 35px;
	padding-left: 35px;
}

#grid{
	padding-right: 35px;
	padding-left: 35px;
}

.btn-primary{
	margin-left: 0;
	margin-right: 0;
	padding: 25px;
	margin-bottom:25px;
	font-size: 30px;

}

.btn-default{
	padding: 10px;
	font-size: 15px;
	margin-bottom: 30px;
}

#endp{
    margin-top: 20px;
    float: left;
}

#startp{
    margin-top: 20px;
    float: right;

}

.btn-info {
	padding: 10px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.btn-warning {
	padding: 10px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.dropdown-menu {
	font-size: 16px;
	margin-top: -10px;
	width: 100%;
}


.btn-success{
	padding: 10px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#GameBoardCanvas {

    border: solid black;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  //  background: black;

}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}