<html>

<head>
  <title>Maza Solver v1.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href='/static/style.css' />
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div class="jumbotron text-center">
  <h1>Maze Solver Web Interface v1.3</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-1" id="canvasSize">

		<div id="startMsg">
			<div class="jumbotron">
			  <h1 class="display-3">Welcome!</h1>
			  <p class="lead">The maze solver is an application that solves a hand drawn mazes, using a Raspberry PI, DE1-SOC and a Pi camera.</p>
			  <hr class="my-4">
			  <p>It uses the processing power of the DE1 SOC to solve the maze. The Raspberry Pi is used for images processing and the user interaction.</p>
			  <hr class="my-4">
			  <p>Module 5 project TCS & EE, Universisty of Twente, 2017</p>
				<ul>
				  <li>Heleen Visserman			S1838636</li>
				  <li>Bram Denkers				S1828053</li>
				  <li>Jeroen Waterink			S1736167</li>
				  <li>Anh Dang Dinh Viet Anh	S1843044</li>
    			</ul>
				<!--<p class="lead">-->
				<!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
			  <!--</p>-->
			</div>
		</div>

		<div id="grid" class="jumbotron">
			<canvas id="GameBoardCanvas" width="100%" ></canvas>

				<div class="col-xs-5">
				  <button type="button" class="btn btn-default" id="startp">
				  <span class="glyphicon glyphicon-pushpin"></span> Start
				  </button>
				</div>

				<div id="cbut" class="col-xs-2">
				  <button type="button" class="btn btn-default" id="zoom" data-toggle="modal" data-target="#myModal">
				  <span class="glyphicon glyphicon-zoom-in"></span> Zoom
				  </button>
				</div>

				<div class="col-xs-5">
				  <button type="button" class="btn btn-default" id="endp">
				  End <span class="glyphicon glyphicon-pushpin"></span>
				  </button>
				</div>

				<!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-lg">
					  <div class="modal-content" id="mazeEditor">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title">Maze editor</h4>
						</div>
						<div class="modal-body">

								<canvas id="GameBoardCanvasXL" width="100%" ></canvas>

						</div>
						<div class="modal-footer">

							<div class="col-xs-5">
							  <button type="button" class="btn btn-default" id="startpXL">
							  <span class="glyphicon glyphicon-pushpin"></span> Start
							  </button>
							</div>

							<div class="col-xs-2">
							  <button type="button" class="btn btn-default" id="editXL">
							  <span class="glyphicon glyphicon-pencil"></span> edit
							  </button>
							</div>

							<div class="col-xs-5">
							  <button type="button" class="btn btn-default" id="endpXL">
							  End <span class="glyphicon glyphicon-pushpin"></span>
							  </button>
							</div>


						</div>
					  </div>
					</div>
				  </div>


		</div>


		<div id="load" class="loader"></div>

	  	<img class="img-responsive" id="maze" width="90%" src="/static/loadingcam.png" alt="Animation">

	</div>
    <div class="col-sm-3">
	<div class="jumbotron text-center" id="control-panel">
		<div class="row">

			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="camera">
				<span class="glyphicon glyphicon-facetime-video"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="picture">
				<span class="glyphicon glyphicon-camera"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="convert">
				<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="edit">
				<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="save">
				<span class="glyphicon glyphicon-floppy-save"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="delete">
				<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>


			<div id="loadText">
				<p id="sText">Loaded: </p><p class="loadedImg" id="sAlg">None</p>
			</div>
			<div class="col-xs-12">
				<div id="myDropdown" class="dropdown" role="group">
					<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" id="history">History
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-db" role="menu">
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="dropdown">
					<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Algorithm
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-inverse">
						<li><a href="#">PI Breadth-first Search</a></li>
						<li><a href="#">PI A* Search</a></li>
						<li><a href="#">FPGA Greedy Search</a></li>
					</ul>
				</div>

					<p id="sText">Selected algoritm: </p><p class="status" id="sAlg">PI Breadth-first Search</p>

			</div>
			<div class="col-xs-12">
				<button type="button" class="btn btn-success btn-block" id="start">Solve Maze</button>
			</div>
		</div>

		</div>

    </div>
  </div>
</div>

<br><br><br><br>

<script type="text/javascript" src="/static/script.js"></script>
<script type="text/javascript" src="/static/canvas.js"></script>
</body>
</html>