<html>

<head>
  <title>Maza Solver v1.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href='/static/style.css' />
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div class="jumbotron text-center">
  <h1>Maze Solver Web Interface v1.3</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-1" id="canvasSize">

		<div id="startMsg">
			<div class="jumbotron">
			  <h1 class="display-3">Welcome!</h1>
			  <p class="lead">This a maze, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			  <hr class="my-4">
			  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			  <p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			  </p>
			</div>

		</div>

		<div id="load" class="loader"></div>

		<canvas id="GameBoardCanvas" width="100%" ></canvas>

	  	<img class="img-responsive" id="maze" width="90%" src="/static/loadingcam.png" alt="Animation">

	</div>
    <div class="col-sm-3">
	<div class="jumbotron text-center" id="control-panel">
		<div class="row">
			<!--<div class="col-xs-12">-->
				<!--<div class="btn-group">-->
				  <!--<button type="button" class="btn btn-default" id="undo">-->
				  <!--<span class="glyphicon glyphicon-triangle-left"></span> Undo-->
				  <!--</button>-->
				  <!--<button type="button" class="btn btn-default" id="redo">-->
				  <!--Redo <span class="glyphicon glyphicon-triangle-right"></span>-->
				  <!--</button>-->
				<!--</div>-->
			<!--</div>-->
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="camera">
				<span class="glyphicon glyphicon-facetime-video"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="picture">
				<span class="glyphicon glyphicon-camera"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="convert">
				<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="edit">
				<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="save">
				<span class="glyphicon glyphicon-floppy-save"></span>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary btn-lg" id="delete">
				<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
			<div class="col-xs-12">
				<div class="dropdown">
					<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">History
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
						<li><a href="#">DB connection fail</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="dropdown">
					<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Algorithm
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Depth-first Search</a></li>
						<li><a href="#">Breadth-first Search</a></li>
						<li><a href="#">Greedy Search</a></li>
						<li><a href="#">A* Search</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12">
				<button type="button" class="btn btn-success btn-block" id="start">Solve Maze</button>
			</div>
		</div>

		</div>

    </div>
  </div>
</div>

<br><br><br><br>

<script type="text/javascript" src="/static/script.js"></script>
<script type="text/javascript" src="/static/canvas.js"></script>
</body>
</html>